//***
* Created by Khoi Le and Nikolai Flowers, March 25, 2016
*//

body {
  background-color: #E6E6FA;
  font-family: "Trebuchet MS", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

h1 {
  color: blue;
}
