//***
* Created by Khoi Le and Nikolai Flowers, March 25, 2016
*//

body {
  background-color: #E6E6FA;
  font-family: "Trebuchet MS", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

h1 {
  color: lightgray;
  font-family: "Trebuchet MS", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

#wrapper {
  position: absolute;
  border: 1px solid black;
  top: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#headBar{
  width: 100%;
  background-color: black;
}

.video{
  width: 90%;
}
